@import url(https://fonts.googleapis.com/css?family=Raleway);
body
{
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
}

nav
{
	background-color: #D43535;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#hacked{
	color: white;
	position: absolute;
	top: 50%;
	left: 55%;
	font-size:50px;
	transform: translate(-50%,-50%);
	font-weight: 600;
	
}

a
{
	cursor: pointer;
}

#mdr
{
	position: absolute;
	top: 30%;
	left: 50%;
}

#mdr div
{
	background-color: #D43535;
	color: white;
}

nav ul li a
{
	border-radius: 0px!important;
	color: white;
}

nav ul li a img
{
	border-radius: 5px!important;
	color: white;
}

nav ul li a:hover
{
	color: black;
}

#dapp
{
	cursor: pointer;
	margin-top: 10px;
	margin-right: 10px;
	padding: 3px;
	border: solid;
	border-radius: 50px!important;
}

#dapp:hover
{
	background-color: white!important;
	color: #D43535;
}


.brand
{
	width : auto;
	height : 250%;
	background-color: #D43535;
}

.meteo{
	display: inline-block;
	margin: 20px;

}

.meteo h1{
	text-align: center;
}

#titre
{
	position: absolute;
	top: 35vh;
	left: 50%;
	transform: translate(-50%,-50%);
	color: white;
	font-weight: 600;
	font-size: 60px;
}

#harlemEE
{
    position: absolute;
    top: 37vh;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-weight: 600;
    font-size: 60px;
    width: 37%;
    border: none;
    background: transparent;
}

#enigme1 .route
{
	position: absolute;
	background-color: #2F393C;
	width: 99%;
	height: 10%;
	border-width:5px;
	border-style:solid;
	border-color:white;
	left: 0%;
}

#enigme1 .voiture
{
	position: absolute;
	width: 5%;
	height: 5%;
	left: 0%;
}

#enigme1 #perso
{
	position: absolute;
	width: 5%;
	height: 5%;
}

.success
{
	text-align: center;
	position: absolute;
	left: 40%;
}

#enigme1 #r1
{
	top: 20%;
}

#enigme1 #r2
{
	top: 30%;
}

#enigme1 #r3
{
	top: 40%;
}

#enigme1 #r4
{
	top: 50%;
}

#enigme1 #r5
{
	top: 60%;
}

#enigme1 #r6
{
	top: 70%;
}
#progression {
    position:fixed;
    bottom: 0;
    height: 5px;
    width: 100%;
    background: #C4C4C4;
    z-index: 200;
    transition: all 0.3s ease;
}

#barre {
    position: absolute;
    top: 0;
    background-color: #D43535;
    width: 0%;
    height: 100%;
    transition: all 0.3s;
}



.faq {
  color: #333;
  background: #eee;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  overflow-x: hidden;
  padding: 0 1.5em;
}

.faq-header{
  font-size: 2em;
  border-bottom: 1px dotted #ccc;
  padding: 1em 0;
}

.faq-c {
  border-bottom: 1px dotted #ccc;
  padding: 1em 0;
}

.faq-t {
  line-height: 1em;
  color: #aaa;
  font-family: sans-serif;
  float:left;
  font-weight: 700;
  padding-right: 0.3em;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  transition: all 200ms;
}

.faq-o {
  transform: rotate(-45deg);
  transform-origin: 50% 50%;
  -ms-transform: rotate(-45deg);
  -ms-transform-origin: 50% 50%;
  -webkit-transform: rotate(-45deg);
  -webkit-transform-origin: 50% 50%;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  transition: all 200ms;
}

.faq-q {
  cursor: pointer;
  font-size: 1.5em;
  font-weight: 100;
}

.faq-a {
  clear: both;
  color: #666;
  display: none;
  padding-left: 1.5em;
}


/* ==== Page d'erreur ===== */
#pageError h1 {
	text-align: center;
}
#pageError p {
	position: fixed;
	right: 0;
	bottom: 0;
}
<<<<<<< HEAD
/* ======================== */
=======
>>>>>>> ef260f8e3e057106caf98b03e77edfe03b3b9a77
#pageError {
    top:0%;
    left:0%;
    width: 100%;
    height: 100%;
}
#pageError p {
	background-color: black;
	color: white;
	font-size: 14pt;
	padding: 2px 10px;
}
#pageError .balles{
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: #D43535;
    background-image: url('img/logo.png');
    border-radius: 50%;
    top:50%;
    left:50%;
}
@keyframes roue {
	from{top: 120%;left: 20%;}
	to{top: 50%;left: 50%;}
}
#pageError .qq, #pageError .qoq, #pageError .roue {
	transform: translate(-50%,-50%);
	position: absolute;
	top: 50%;
	left: 50%;
}
#pageError .qoq {
	display: none;
}
#pageError .roue {
	animation: roue 3s;
}
/* ======================== */

.content-wrapper {
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
.tete-block {
  margin: 0 auto;
  height: 100px;
  width: 100px;
}
.tete-block > .yeux-wrapper::after {
  content: '';
  display: table;
  clear: both;
}
.tete-block > .yeux-wrapper > .oeil {
  float: left;
  position: relative;
  height: 40px;
  width: 40px;
  border: 2px solid black;
  border-radius: 50%;
  overflow: hidden;
}
.tete-block > .yeux-wrapper > .oeil + .oeil {
  margin-left: 20px;
}
.tete-block > .yeux-wrapper > .oeil > .pupille {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-top: -5px;
  margin-left: -5px;
  background: black;
  -webkit-animation: blink 3s linear infinite;
          animation: blink 3s linear infinite;
}
@-webkit-keyframes blink {
  0% {
    height: 10px;
  }
  96% {
    height: 10px;
  }
  98% {
    height: 1px;
  }
  100% {
    height: 10px;
  }
}
@keyframes blink {
  0% {
    height: 10px;
  }
  96% {
    height: 10px;
  }
  98% {
    height: 1px;
  }
  100% {
    height: 10px;
  }
}
.tete-block > .bouche-wrapper {
  height: 30px;
  width: 60px;
  margin: 10px auto;
  overflow: hidden;
}
.tete-block > .bouche-wrapper > .bouche {
  margin: 0 auto;
  height: 60px;
  width: 60px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  background: -webkit-radial-gradient(circle, #A53860 0%, #A53860 50%, transparent 50%, transparent 100%), -webkit-radial-gradient(circle, #A53860 0%, #A53860 50%, transparent 50%, transparent 100%), -webkit-linear-gradient(left, #FFFFFF 0%, #FFFFFF 40%, transparent 40%, transparent 60%, #FFFFFF 60%, #FFFFFF 100%), -webkit-linear-gradient(left, #450920 0%, #450920 100%);
  background: radial-gradient(circle, #A53860 0%, #A53860 50%, transparent 50%, transparent 100%), radial-gradient(circle, #A53860 0%, #A53860 50%, transparent 50%, transparent 100%), linear-gradient(to right, #FFFFFF 0%, #FFFFFF 40%, transparent 40%, transparent 60%, #FFFFFF 60%, #FFFFFF 100%), linear-gradient(to right, #450920 0%, #450920 100%);
  background-size: 30px 30px, 30px 30px, 20px 20px, 100%;
  background-repeat: no-repeat;
  background-position: 20% 160%,
            70% 160%,
            50% 50%,
            0 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.tete-block > .bouche-wrapper > .bouche.-closed {
  height: 30px;
  width: 30px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  background-size: 10px 10px, 10px 10px, 20px 20px, 100%;
  background-position: 20% 150%, 70% 150%, 50% -200%, 0 0;
}