/*
Alex CHOPARD<luc.damas@univ-smb.fr>
*/


/*
	background: white url("") top left no-repeate;
*/
* 
{ 
	margin: 0px;
	padding: 0px;
}

@font-face {
    font-family: "eve";
    src: url("eve.ttf");
}

a, a:visited
{
	color: #024A68;
	text-decoration: none;
}

body 
{ 
	font-family: arial;
	

	background: white url("../images/londre.jpg") top left no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

header
{
	position: fixed;
	width: 100%;
	background-color: #ea6153;
}

#title 
{
	text-align: center;
	color: #34495e;

}

#title h1
{
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: 60px;

}

#title h2 
{
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 30px;
}

#login
{
	background-color: #e74c3c;
	color: #cbd0d3;
	padding-bottom: 10px;
	margin-bottom: 5px;
	border-radius: 15px;
}

form
{
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;

}
form input
{
	border: none;
	color: #34495e;
	font-weight: bolder;
	background-color: #ecf0f1;
	padding: 3px;
	margin-right: 5px;
	border-radius: 3px;
}

body.scrolled20 #login, body.scrolled30 #login, body.scrolled40 #login, body.scrolled50 #login, body.scrolled60 #login, body.scrolled70 #login, body.scrolled80 #login, body.scrolled90 #login, body.scrolled100 #login
{
	visibility: hidden;
	height: 0px;
	margin-top: -15px;
}



section
{
	padding-top: 170px; 
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

article
{
	margin: 50px;
	padding: 30px;
	padding-top: 20px;
	background-color: #f4a62a;
	text-align: justify;
	line-height: 23px;
	max-width: 800px;
	border-radius: 15px;
	border-left: 8px solid #c0392b;

}

article:hover
{
	font-size: 20px;
	max-width: 1000px;
	background-color: #40d47e;
	border-color: #1e0fbe;
}

article h1
{
	text-align: center;
	font-size: 30px;
	margin-bottom: 20px;
	color: #34495e;
}

article:hover h1, article:hover h1 a
{
	color: #e74c3c;
}

article:hover th
{
	background-color: #27ae60;
}

table
{
	border-collapse: collapse;
	margin: auto;
	margin-top: 10px;
}

th
{
	background-color: #f39c12;
	text-align: center;
}

td, th
{
	border: 1px solid black;
	padding: 1px;
	padding-left: 8px;
	padding-right: 8px;
}

#criteria ul
{
	list-style: circle;
}

#criteria li
{
	margin-bottom: 5px;
	margin-left: 15px;
}

footer
{
	background-color: #e74c3c;
	text-align: center;
	padding: 10px;
	font-size: 15px;
}

#realisations a
{
	background: url("../images/couronne-de-laurier-etoile-prix-gagnant-hero.png") top left no-repeat;
	background-size: cover;
	padding: 20px;
	vertical-align: top;
	color: #c0392b;
}

#realisations:hover a:hover
{
	color: #d14233;
	padding: 25px;
}

#realisations ul
{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

#realisations li
 {
 	margin-bottom: 18px;
 	margin-top: 18px;
 	margin-left: 8px;
 	margin-right: 8px;
 }



footer:hover a:hover
{
	color: #0777A6;
}